<%= simple_form_for [:admin, @companyprofile] do |f| %>
  <div class="form-group">


    <%= f.input :description, as: :ckeditor, label: false %>

    <hr>

  </div>
  <%= f.submit "提交", class: "btn btn-sm btn-default", data: {disable_with: "Submiting..."} %>
<% end %>
