
<div class="account-box">
  <div class="account-maintitle">
    <i class="fa fa-home" style="padding-right:8px;"></i>编辑栏目
  </div>
  <hr>
  <div class="text-center" style="margin-top:10px; margin-bottom:20px;font-size:16px;">
   栏目名称：  <%= @companyprofile.title %>
  </div>

  <hr>
  <%= render "form" %>

</div>
