
<div class="account-box">
  <div class="account-maintitle">
    <i class="fa fa-paper-plane-o" style="padding-right:8px;"></i>编辑国家信息
  </div>

  <hr>
  <%= render "form" %>

  <% if @product.image.present? %>
    <span>封面图</span>
    <%= image_tag(@product.image.thumb.url) %>
  <% end %>

</div>
